:root {
	--rows: 0;
}

* {
	margin: 0px;
	padding: 0px;
}

.sketch-container {
	display: grid;
	grid-template-columns: repeat(var(--rows), 1fr);
	grid-template-rows: repeat(var(--rows), 1fr);
	width: 960px;
	height: 960px;
}

